.container {
  max-width: 800px;
}

.card {
  margin-bottom: 20px;
}

.card-header {
  background-color: cadetblue;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: lightgray;
  border: 1px solid gray;
}

.card-footer {
  background-color: aquamarine;
}

.form1 {
  margin-bottom: 20px;
}

.result4_1 {
  margin-right: 30px;
}