@import 'hamburgers.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  color: #4B5D68;
}

.container {
  width: min(90%, 1170px);
  margin-inline: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #9C69E2;
  cursor: url("..images/cursor.svg");
}

img {
  vertical-align: top;
}

.button {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  border-radius: 50px;
  align-items: center;
}

.btn-demo1 {
  gap: 20px;
  border: 1px solid #9C69E2;
  background: #ffffff;
}
.btn-demo1:hover {
  background-color: #F6F0FD;
  transition: all 0.4s ease;
}
.btn-demo1 p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  font-family: Montserrat;
}

/*------------------------------------header------------------------------------------*/
/*-------------------------------responsive-menu----------------------------------------------*/
.page-shadow {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(33, 35, 83, 0.5);
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.mobile-panel {
  position: fixed;
  left: 0px;
  top: 0;
  transform: translateX(-350px);
  background-color: #ffffff;
  width: 350px;
  height: 100vh;
  z-index: 1000;
  transition: all 0.5s ease;
}

.open-mobile-menu .page-shadow {
  opacity: 1;
  visibility: visible;
}
.open-mobile-menu .mobile-panel {
  transform: translateX(0);
  transform: translateY(100px);
}

.mobile-menu ul {
  border-top: 1px solid #4B5D68;
}
.mobile-menu ul li {
  border-bottom: 1px solid #4B5D68;
}
.mobile-menu ul li a {
  display: inline-block;
  padding: 10px 20px;
  width: 100%;
  text-decoration: none;
  color: #4B5D68;
}
.mobile-menu ul li a:hover {
  background-color: #CDF;
}

.hamburger {
  position: relative;
  left: 400px;
  z-index: 2000;
}

/*-----------------------------------------------------------------------------*/
header {
  width: 100%;
  position: fixed;
  z-index: 10000;
  opacity: 1;
  background-color: #ffffff;
  top: 0;
  height: 100px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin-bottom: 100px;
}
header .container nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
header .container nav ul li {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
header .container .btn-demo1 {
  margin-left: 28%;
}

@media screen and (max-width: 660px) {
  .main-menu {
    display: none;
  }

  .gumburger {
    display: block;
  }
}
@media screen and (min-width: 660px) {
  .hamburger {
    display: none;
  }
}
@media screen and (max-width: 1070px) {
  .container {
    width: max(90%, 1070px);
    margin-inline: auto;
  }
}
/*----------------------------------------------------*/
@media screen and (max-width: 1100px) {
  main {
    padding-left: 30px;
  }
}

/*--------------------First section--------------------------------*/
.first-section {
  margin-top: 201px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 134px;
  width: 100%;
}
.first-section .save-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
}
.first-section .save-data h1 {
  color: #212353;
  font-family: Work Sans, sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  width: 600px;
  margin-bottom: 0px;
  --animate-duration: 2s;
}
.first-section .save-data p {
  color: #4B5D68;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  width: 370px;
  margin-left: -3px;
}
.first-section .save-data .btn-learn1 {
  border: 1px solid #9C69E2;
  background: #9C69E2;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.first-section .save-data .btn-learn1:hover {
  background-color: #8A40EE;
  transition: all 0.2s ease;
}
.first-section .fist-image {
  /* position: absolute; */
  right: -60px;
  vertical-align: bottom;
  position: relative;
  right: 200px;
  bottom: -82px;
}

/* -------------------Who we are------------------------------*/
.who-we-are {
  display: flex;
  padding: 75px 70px;
  gap: 130px;
  border-radius: 50px;
  background-color: #FDE8F5;
  margin-bottom: 118px;
  width: 100%;
}
.who-we-are .text-bank {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.who-we-are .text-bank h2 {
  font-family: "Work Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.who-we-are .text-bank p {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}

/*----------------------------Features-------------------------------*/
.features hgroup {
  text-align: center;
  align-items: center;
}
.features hgroup h2 {
  font-family: "Work Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #212353;
  margin-bottom: 44px;
}
.features hgroup p {
  display: inline-block;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  width: 694px;
  text-align: center;
  margin-bottom: 75px;
  padding-left: 10px;
}
.features .show-features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 120px;
}
.features .show-features .item-feature {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  background-color: aquamarine;
  border-radius: 50px;
  margin-left: 165px;
  margin-right: -2px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.features .show-features .item-feature h2 {
  font-family: "Work Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  color: #212353;
  z-index: 999;
}
.features .show-features .item-feature div {
  margin-bottom: 6px;
  z-index: 999;
}
.features .show-features .item-feature div p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.features .show-features .item-feature img {
  position: absolute;
  left: -165px;
  bottom: 108px;
}
.features .show-features .item-feature .img-2,
.features .show-features .item-feature .img-4 {
  left: -175px;
}
.features .show-features .item-feature .btn-feature {
  gap: 20px;
  border: none;
  background: none;
  justify-content: start;
}
.features .show-features .item-feature .btn-feature:hover {
  background-color: #CDF;
  padding-left: 37px;
  transition: all 0.4s ease;
}
.features .show-features .item-feature .btn-feature p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.005rem;
}
.features .show-features .item-1 {
  padding: 64px 62px 42px 105px;
  gap: 22px;
  background-color: #F0FAF9;
}
.features .show-features .item-1 .figure-1 {
  position: absolute;
  top: 15px;
  right: 50px;
}
.features .show-features .item-2 {
  padding: 65px 67px 42px 94px;
  gap: 22px;
  background-color: #F6F0FD;
}
.features .show-features .item-2 h2 {
  margin-bottom: -27px;
}
.features .show-features .item-2 .figure-2 {
  position: absolute;
  bottom: 20px;
  right: 15px;
}
.features .show-features .item-3 {
  padding: 64px 59px 44px 105px;
  gap: 22px;
  height: 400px;
  background-color: #F6F0FD;
}
.features .show-features .item-3 h2 {
  margin-bottom: -61px;
}
.features .show-features .item-3 div {
  margin-bottom: -5px;
}
.features .show-features .item-3 .figure-3 {
  position: absolute;
  top: 20px;
  right: 20px;
}
.features .show-features .item-4 {
  height: 400px;
  padding: 63px 69px 42px 95px;
  gap: 22px;
  background-color: #F0FAF9;
}
.features .show-features .item-4 div {
  margin-bottom: -14px;
}
.features .show-features .item-4 .figure-4 {
  position: absolute;
  top: 20px;
  right: 75px;
}

/* -------------------Testimonials----------------------------------------*/
.testimonials {
  background-color: #CDF;
  margin-bottom: 120px;
  padding: 77px 70px 80px 68px;
  text-align: center;
  border-radius: 50px;
  margin-bottom: 118px;
}
.testimonials h2 {
  font-family: "Work Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 74px;
  padding-right: 13px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid rebeccapurple;
  width: 40%;
  display: flex;
  padding: 50px 30px 50px 30px;
  gap: 15px;
  width: 465px;
  height: 300px;
}
.card img {
  border-radius: 100px;
  width: 36%;
  height: 45%;
  object-fit: cover;
}
.card hgroup {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.card hgroup h3 {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  color: #212353;
  margin-bottom: 2px;
}
.card hgroup a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.00875rem;
  margin-bottom: 19px;
}
.card hgroup p {
  text-align: start;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: #4B5D68;
}

/*------------------Try for free--------------------------*/
.try-free {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  gap: 20px;
}
.try-free hgroup {
  margin-right: 28%;
}
.try-free h2 {
  font-family: "Work Sans";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 15px;
  color: #212353;
}
.try-free p {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: -4px;
}
.try-free .btn-learn1 {
  border: 1px solid #F063B8;
  background: #F063B8;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.try-free .btn-learn1:hover {
  background-color: #EB4BAB;
  transition: all 0.2s ease;
}
.try-free .btn-demo1 {
  margin-left: 0;
}
.try-free .btn-demo1 p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  font-family: Montserrat;
  margin-left: 2%;
}

/*----------------Footer------------------------------*/
.navigation {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-bottom: 95px;
}
@media screen and (max-width: 1100px) {
  .navigation {
    padding-left: 30px;
  }
}
.navigation .contacts {
  width: 331px;
}
.navigation .contacts .logo {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
  margin-left: 4px;
}
.navigation .contacts h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.navigation .contacts hgroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.navigation .contacts hgroup h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.16px;
  color: #212353;
}
.navigation .contacts hgroup p {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.01rem;
  color: #212353;
}
.navigation .footer-nav {
  display: flex;
  width: 670px;
  justify-content: space-between;
  align-items: flex-start;
  padding-right: 0px;
  margin-top: 9px;
}
.navigation .footer-nav .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.navigation .footer-nav .links li:first-child {
  color: #212353;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 26px;
}
.navigation .footer-nav .links a {
  color: #4B5D68;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.navigation .footer-nav .links a:hover {
  color: #9C69E2;
}
.navigation .footer-nav .social {
  margin-left: 2px;
  padding-top: 0px;
}
.navigation .footer-nav .social li:first-child {
  margin-bottom: 39px;
  color: #212353;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 35px;
}
.navigation .footer-nav .social .cirkles {
  display: flex;
  gap: 15px;
}
.navigation .footer-nav .social .cirkles .cirkle-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navigation .footer-nav .social .cirkles .cirkle-1:hover {
  border: 1px solid #3B5998;
  /*svg {fill: #3B5998;} */
}
.navigation .footer-nav .social .cirkles .cirkle-1:hover path {
  fill: #3B5998;
}
.navigation .footer-nav .social .cirkles .cirkle-1:hover circle {
  fill: #ffffff;
}
.navigation .footer-nav .social .cirkles .cirkle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navigation .footer-nav .social .cirkles .cirkle-2:hover {
  border: 1px solid #00ACEE;
}
.navigation .footer-nav .social .cirkles .cirkle-2:hover path {
  fill: #00ACEE;
}
.navigation .footer-nav .social .cirkles .cirkle-2:hover circle {
  fill: #ffffff;
}
.navigation .footer-nav .social .cirkles .cirkle-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.navigation .footer-nav .social .cirkles .cirkle-3:hover {
  border: 1px solid #C13584;
}
.navigation .footer-nav .social .cirkles .cirkle-3:hover path {
  fill: #C13584;
}
.navigation .footer-nav .social .cirkles .cirkle-3:hover circle {
  fill: #ffffff;
}

p {
  font-family: Montserrat;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: 180%;
  letter-spacing: 0.0075rem;
  color: #212353;
}