* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik;
}

.container {
  width: min(90%, 1440px);
  margin-inline: auto;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

.btn {
  border-radius: 192px;
  border: 1px solid rgba(255, 255, 255, 0.69);
  background: linear-gradient(329deg, #98AA28 13.03%, #D6FF7E 120.61%);
  box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
  width: 243px;
  height: 78px;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.025rem;
  color: white;
}

.sect1 {
  display: flex;
  justify-content: center;
  align-items: start;
  background: url("../images/hero.png") #3d5a38 0px 0px/100% 103.367% no-repeat;
  padding: 30px 20px 0 40px;
  width: 1440px;
  height: 852px;
}
.sect1 .group-sect1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  color: white;
  width: 90%;
  margin-top: 23px;
}
.sect1 .group-sect1 .top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-bottom: 30px;
  margin-top: 9px;
}
.sect1 .group-sect1 .top-panel .logo {
  display: flex;
  gap: 10px;
}
.sect1 .group-sect1 .top-panel .logo .logo-svg {
  margin-top: 9px;
}
.sect1 .group-sect1 .top-panel .logo p {
  color: #FFF;
  font-family: Rubik;
  font-size: 1.625rem;
  font-weight: 600;
  letter-spacing: 0.0325rem;
}
.sect1 .group-sect1 .top-panel ul {
  display: flex;
  gap: 50px;
  margin-bottom: 25px;
}
.sect1 .group-sect1 .top-panel ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
}
.sect1 .group-sect1 .top-panel button {
  border-radius: 116px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(237, 255, 129, 0.2);
  color: #FFF;
  width: 140px;
  height: 55px;
  margin-left: -18px;
  margin-bottom: 18px;
}
.sect1 .group-sect1 hgroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  margin-bottom: -8px;
}
.sect1 .group-sect1 hgroup h2 {
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.045rem;
  margin-right: 17px;
}
.sect1 .group-sect1 hgroup h1 {
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.225rem;
  margin-right: 10px;
}
.sect1 .group-sect1 p {
  text-align: center;
  font-size: 1.375rem;
  margin-bottom: 30px;
  line-height: 2.5rem;
}

.links nav ul {
  display: flex;
  justify-content: space-between;
  margin: 50px 160px 150px 160px;
}

.servises {
  display: flex;
  flex-direction: column;
}
.servises .first {
  display: flex;
  margin-left: 135px;
  margin-bottom: 96px;
  justify-content: space-between;
}
.servises .first .block1 h2 {
  color: #253D32;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.0625rem;
  letter-spacing: 0.0525rem;
  margin-bottom: 20px;
}
.servises .first .block1 p {
  margin-bottom: 20px;
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.servises .first .block1 a {
  display: flex;
  gap: 10px;
}
.servises .first .block1 a p {
  color: #A3B938;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
}
.servises .first .block1 a .svg-arrow {
  margin-top: 14px;
}
.servises .first .block2 svg,
.servises .first .block3 svg {
  margin-bottom: 50px;
}
.servises .first .block2 h4,
.servises .first .block3 h4 {
  color: #253D32;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 10px;
}
.servises .first .block2 p,
.servises .first .block3 p {
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 60px;
}
.servises .first .block3 {
  margin-right: 124px;
}
.servises .second {
  display: flex;
  gap: 150px;
  margin-bottom: 250px;
}
.servises .second .left {
  background: url("../images/Group 1.png") #3d5a38 0px 0px/100% 103.367% no-repeat;
  width: 469.943px;
  height: 294.422px;
  margin-left: 170px;
  margin-top: 60px;
}
.servises .second .left .svg {
  position: relative;
}
.servises .second .left .svg-1 {
  right: -40px;
  top: 86px;
}
.servises .second .left .svg-2 {
  right: -58px;
  top: 77px;
}
.servises .second .left .svg-3 {
  right: 362px;
  top: -33px;
}
.servises .second .left .svg-4 {
  position: relative;
  left: 396px;
  top: -173px;
}
.servises .second .left .svg-5 {
  position: relative;
  left: 285px;
  bottom: -98px;
}
.servises .second .left .svg-6 {
  right: 340px;
  bottom: -75px;
  z-index: -5;
}
.servises .second .left .svg-7 {
  left: 391px;
  top: -135px;
  z-index: -5;
}
.servises .second .left .svg-8 {
  left: -13px;
  bottom: 561px;
  z-index: -2;
}
.servises .second .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 43px;
}
.servises .second .right h2 {
  color: #253D32;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.0625rem;
  letter-spacing: 0.0525rem;
  margin-bottom: 20px;
}
.servises .second .right p {
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.process {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 50px;
}
.process h2 {
  color: #253D32;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.0625rem;
  letter-spacing: 0.0525rem;
  margin-bottom: 20px;
  margin-bottom: 10px;
}
.process p {
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 52px;
}
.process .line {
  display: flex;
  gap: 15px;
  margin-right: 35px;
  margin-bottom: 24px;
}
.process .line .punct {
  margin-top: 22px;
}
.process .propouse {
  display: flex;
  gap: 172px;
  margin-right: 16px;
}
.process .propouse .p1 {
  font-weight: 600;
}
.process a {
  display: flex;
  gap: 10px;
}
.process a p {
  color: #A3B938;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
}
.process a .svg-arrow {
  margin-top: 14px;
}

hgroup {
  display: flex;
  gap: 100px;
  margin-left: 185px;
}
hgroup h2 {
  color: #253D32;
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.0625rem;
  letter-spacing: 0.0525rem;
  margin-bottom: 20px;
}
hgroup h4 {
  color: #253D32;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  padding-top: 82px;
}

h4:last-child {
  color: #78847D;
}

.rectangles {
  display: flex;
  gap: 20px;
  margin-left: 188px;
}
.rectangles img {
  margin-bottom: 20px;
}
.rectangles h4 {
  color: #253D32;
  font-size: 1.5rem;
  letter-spacing: 0.03rem;
  margin-bottom: 20px;
}
.rectangles p {
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
}

footer {
  margin-bottom: 50px;
}

.foot-picture {
  background: url("../images/Group1.png") #253D32 0px 0px/100% 103.367% no-repeat;
  background: url("../images/Bg.png") #253D32 0px 0px/100% 103.367% no-repeat;
  width: 1170px;
  height: 523px;
  margin-bottom: 100px;
  margin-left: 13%;
  position: relative;
  display: flex;
}
.foot-picture .pyramid1 {
  width: 9%;
  height: 42%;
}
.foot-picture .subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 102px;
  margin-left: 24px;
}
.foot-picture .subscribe h2 {
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.4375rem;
  letter-spacing: 0.02rem;
  margin-bottom: 29px;
}
.foot-picture .subscribe .logo-foot1 {
  margin-bottom: 61px;
}
.foot-picture .subscribe .logo-foot1 img-logo {
  margin-right: 7px;
}
.foot-picture .subscribe form {
  display: flex;
}
.foot-picture .subscribe form input {
  width: 372px;
  height: 78px;
  border-radius: 192px;
  border: 1px solid #78847D 255, 255, 255, 0.2;
  background: linear-gradient(332deg, #FFF 3.37%, #E2E2E2 132.9%);
  box-shadow: 0px 34px 50px 0px rgba(7, 63, 67, 0.07);
  margin-right: 22px;
}
.foot-picture .subscribe form input[placeholder] {
  padding-left: 39px;
  color: #14183E;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0225rem;
}
.foot-picture .pyramid2 {
  position: absolute;
  right: -107px;
  top: 59px;
}

.foot-text {
  display: flex;
  gap: 250px;
  margin-left: 191px;
  margin-bottom: 100px;
}
.foot-text svg {
  margin-right: 10px;
  margin-bottom: 22px;
}
.foot-text p {
  color: #78847D;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-bottom: 22px;
}
.foot-text .cirkles {
  display: flex;
  gap: 15px;
}
.foot-text .cirkles .cirkle-1:hover path {
  fill: #3B5998;
}
.foot-text .cirkles .cirkle-1:hover circle {
  fill: #ffffff;
}
.foot-text .cirkles .cirkle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.foot-text .cirkles .cirkle-2:hover path {
  fill: #00ACEE;
}
.foot-text .cirkles .cirkle-2:hover circle {
  fill: #ffffff;
}
.foot-text .cirkles .cirkle-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.foot-text .cirkles .cirkle-3:hover path {
  fill: #C13584;
}
.foot-text .cirkles .cirkle-3:hover circle {
  fill: #ffffff;
}
.foot-text li {
  margin-bottom: 15px;
}
.foot-text li a {
  color: #78847D;
  text-decoration: none;
  font-size: 0, 8rem;
}
.foot-text li:first-child {
  margin-bottom: 32px;
  color: #253D32;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
}

.copy {
  display: flex;
  justify-content: center;
  color: #78847D;
  text-decoration: none;
  font-size: 0, 8rem;
}