
.container {
    max-width: 900px;
}

.card {
    margin-top: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color:aliceblue ;
}

.card-header {
    background-color: rgb(85, 82, 82);
    color: #fff;
   
}


.button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: rgba(117, 240, 9, 0.199);
    border: 1px solid black;
    margin-left: 35px;
    margin-bottom: 40px;
}

.btn3 {
    margin-top: 20px;
}

.form-control
{
    border: 1px solid rgb(0, 115, 255);
}

.card-footer 
{
    background-color: rgba(208, 229, 14, 0.66);
    border-color: black;
}

.form1 {
    margin-bottom: 20px;
}

li
{
    margin-left: 50px;
}

.my-toast {
    max-width: 400px;
    position: fixed;
    right: 20px;
    top: 20px;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
}

.my-toast.my-toast-success {
    background-color: lightgreen;
border-color: green;
}

.my-toast.my-toast-error {
    background-color: lightcoral;
border-color: tomato;
}

.my-toast.my-toast-warning {
    background-color: yellow;
border-color: yellowgreen;
}

.my-toast.my-toast-info {
    background-color: lightblue;
border-color: blue;
}