@import "initial";

$dark-color: #333;
$gold-color: #FC0;
$gray-color: #666;
$white-color: #FFF;

@mixin square {
  width: 100px;
  height: 100px;
  position: absolute;
}

main {
  background: $white-color;
  padding: 121px 185px;
}

.container {
  width: min(90%, 1070px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.heading {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;


  .wrap1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-transform: uppercase;

    h2 {
      font-family: Raleway;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.5rem;
      color: $dark-color;

    }

    h1 {
      font-size: 3.75rem;
      font-weight: 900;
      line-height: 4.125rem;
      color: $gold-color;

    }
  }

  .divider {
    display: flex;
    align-items: center;
    gap: 5px;

    .line {
      border-bottom: 1px solid $gold-color;
      width: 210px;
    }
  }
}

section {
  display: flex;
  align-items: center;
  gap: 85px;
  padding-left: 35px;

  .left {
    position: relative;

    .square1 {
      @include square;
      left: -16px;
      top: -16px;
      border-top: 1px solid $gold-color;
      border-left: 1px solid $gold-color;
    }

    .square2 {
      @include square;
      border-top: 1px solid $gold-color;
      border-right: 1px solid $gold-color;
      right: -16px;
      top: -16px;
    }

    .square3 {
      @include square;
      border-bottom: 1px solid $gold-color;
      border-right: 1px solid $gold-color;
      right: -16px;
      bottom: - 12px;
    }

    .square4 {
      @include square;
      border-bottom: 1px solid $gold-color;
      border-left: 1px solid $gold-color;
      left: -16px;
      bottom: - 12px;
    }
  }


  .vertical-line {
    height: 560px;
    border-left: 1px solid $gold-color;
    margin-left: 16px;
  }

  .right {
    display: flex;
    /*height: 432px;*/
    flex-direction: column;
    align-items: center;
    gap: 35px;


    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      h2 {
        font-size: 2.25rem;
        font-weight: 900;
        text-transform: capitalize;
        color: $gray-color;
        margin-bottom: 18px;
        position: relative;
        &::after
        {
          content: '';
          position: absolute;
          border-top: 1px solid $gold-color;
          bottom: -8px;
          right: 65px;
        }
      }

      /*div {
        border-top: 1px solid $color2;
        width: 100px;
        padding-bottom: 6px;

      }*/

      p {
        font-family: Raleway;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.25rem;
        text-transform: capitalize;
        color: $gray-color;
        padding-bottom: 5px;
      }

    }

    .social {
      display: flex;
      width: 40px;
      height: 40px;
      padding: 6px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      div {
        width: 40px;
        height: 40px;
        padding: 6px;
        border: 1px solid $dark-color;
        border-radius: 50%;
      }

      div:hover {
        border-color: $gold-color;

        path {
          fill: $gold-color;
        }
      }
    }

    .wrap2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      p {
        width: 430px;
        height: 116px;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5rem;
        color: $gray-color;
      }

      ;

      .decore {
        display: flex;
        align-items: flex-start;
        gap: 5px;


        div {
          width: 10px;
          height: 4px;
          border-top: 4px solid $gold-color;
        }

        .average {
          width: 20px;
          border-top: 4px solid $gold-color;
        }



      }

      button {
        display: flex;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        border: 1px solid $gold-color;
        font-family: Raleway;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 0.875rem;
        text-transform: uppercase;
        color: $gray-color;
        background-color: white;
        transition: all 0.5s ease;
      }

      button:hover {
        background-color: $gold-color;
        border-color: $gray-color;
      }
    }

  }
}