* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: PT Sans, sans-serif;

}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
    /*background-color: aquamarine;*/
}

ul,
ol {
    list-style: none;
}

/*-----------Header----------------*/

header {
    display: flex;
    padding-top: 33px;
    position:fixed;
    left: 349px;
    top: 0px;
    width: 1200px;
    height: 80px;
    border: 1px solid blue;
    z-index: 1;
    opacity: 1;
    background-color: white;
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

}

.logo {
    width: 238px;
    height: 54px;
    margin-left: 500px;
}

header p {
    font-family: Tourney, display;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0.0825rem;

}

nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav ul li {
    font-family: Staatliches, display;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.04125rem;

}

main 
{
display: flex;
flex-direction: row;
gap: 50px;
       /* border: 1px solid brown;*/
    
}

/*------------Section ---------*/


.wrap {
   /* border: 1px solid gold;*/
    margin-bottom: 1000px;
}
.sticky 
{
    margin-top: 200px;
    display: block;
    position: sticky;
    width: 380px;
   top: 80px;
   /*transform: translateY(600px);*/
   /*transform: translateX(10px);*/
 /*  border: 1px solid blue;*/
   z-index: 1;
}

section {
    /*display: inline-block;*/
    margin-top: 180px;
    padding-top: 80px;
    margin-bottom: 70px;
    position: relative;
    bottom: 100px;
    /*border: 1px solid green;*/
}

.top 
{
    margin-top: 100px;
}

section 
{
    padding-left: 20px;
    /*display: flex;*/
    flex-direction: column;
    position: relative;
    
}

.line
{
    width: 100px;
    height: 10px;
    background-color: #000;
    margin-bottom: 30px;
}

.head-chapter {
    display: flex;
    gap: 10px;
}

/*.head-chapter*/ h2 {
    font-family: Francois One, sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
    /* 133.333% */
    letter-spacing: 0.09rem;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.head-chapter div {
    font-feature-settings: 'sups' on;
    font-family: Farro, sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.075rem;
}

div div p {
    font-size: 1.75rem;
    line-height: 3rem;
    margin-bottom: 40px;
}

.gray {
    background-color: #DADADA;
    width: 420px;
    height: 48px;
    font-size: 1.75rem;
}

.ital {
    font-style: italic;
}

.fat {
    font-weight: 700;
}