.container {
    max-width: 800px;
}

.yyy{
    margin-top: 100px;
}

.carousel-inner {
    width: 900px;
    height: 900px;
}

.carousel-item{
    width: 800px;
    height: 900px;
    background-color: aqua;
    border: 1px solid blue;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 400px;
}